<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
			version="3.0">
			
			<!-- 
				web应用名称
			 -->
  <display-name>KindACG</display-name>
  <!-- 
 	支出IDE和GUI工具用来表示Web应用的大图标和小图标
  	<icon> 
  		<small-icon></small-icon>
  		<large-icon></large-icon>
  	</icon>
   -->
  <!-- 
  	指定欢迎界面
  		访问一个网站时，默认看到的第一个页面就叫做欢迎页
  	-->
  <welcome-file-list>
	<welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  	过滤器
  		比如设置一个编码过滤器，过滤所有资源
   -->
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
      <filter>       
    <filter-name>hibernateFilter</filter-name>       
    <filter-class>       
    org.springframework.orm.hibernate3.support.OpenSessionInViewFilter        
    </filter-class>       
    </filter>        
    <filter-mapping>       
    <filter-name>hibernateFilter</filter-name>       
    <url-pattern>*.action</url-pattern>       
    </filter-mapping>  
  <!-- 
  	声明应用范围内的初始化参数
  	在servlet里可以通过getServletContext().getInitParameter("context/param")得到
   -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <!-- 
  	对时间监听程序的支持，时间监听程序在建立、修改和删除会话或servlet环境时得到通知
  	Listener元素支出时间监听程序类
   -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 
  	定制初始化参数：可以定制servlet、jsp、Context的初始化参数
  	在servlet中能够调用getServletConfig().getinitParameter()或许参数名对应的值;
   -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>spring</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
</web-app>